<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="alert alert-danger" role="alert">
				<p class="text-center">
					Site very under construction!
				</p>
			</div>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
			  <div class="container-fluid">
			    <a class="navbar-brand" href="#">Welcome!</a>
			    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="collapse navbar-collapse" id="navbarSupportedContent">
			      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
			        <li class="nav-item">
			          <a class="nav-link" href="/">Home</a>
			        </li>
			        <li class="nav-item">
								<a class="nav-link" href="/about">About</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/cv">CV</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/blog">Blog</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/Fiction">Fiction</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/Non-Fiction">Non-Fiction</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/Art">Art</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/Music">Music</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/Photography">Photography</a>
							</li>
			      </ul>
			      <form class="d-flex">
			        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
			        <button class="btn btn-outline-success" type="submit">Search</button>
			      </form>
			    </div>
			  </div>
			</nav>
			<div class="container">

				{{ content }}

			</div><!-- /.container -->
			<!-- Footer -->
			<footer class="page-footer font-small blue fixed-bottom">
			  <!-- Copyright -->
			  <div class="footer-copyright text-center py-3">Chris Childs, 2021
			    <a href="https://crchilds.ca/"> crchilds.ca</a>
			  </div>
				<ul>
						<li><a href="mailto:christopher.robert.childs@gmail.com">email</a></li>
						<li><a href="https://github.com/chris-childs">github.com/chris-childs</a></li>
						<li><a href="https://www.instagram.com/cchilds_/">instagram</a></li>
				</ul>
			  <!-- Copyright -->

			</footer>
			<!-- Footer -->
		</body>
	</html>
