<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<div class="alert alert-danger" role="alert">Site very under construction!</div>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
							<li><a href="/Fiction">Fiction</a></li>
							<li><a href="/Non-Fiction">Non-Fiction</a></li>
							<li><a href="/Art">Art</a></li>
							<li><a href="/Music">Music</a></li>
	    		</ul>
			</nav>
			<div class="container">

				{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:christopher.robert.childs@gmail.com">email</a></li>
	        		<li><a href="https://github.com/chris-childs">github.com/chris-childs</a></li>
				</ul>
			</footer>
		</body>
	</html>
