<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="container">

				{{ content }}

			</div><!-- /.container -->
			<!-- Footer -->
			<footer class="page-footer font-small blue fixed-bottom">
			  <!-- Copyright -->
			  <div class="footer-copyright text-center py-3">Chris Childs, 2022
			    <a href="https://crchilds.ca/"> crchilds.ca</a>
			  </div>
				<ul>
						<li><a href="mailto:christopher.robert.childs@gmail.com">email</a></li>
						<li><a href="https://github.com/chris-childs">github.com/chris-childs</a></li>
						<li><a href="https://www.instagram.com/cchilds_/">instagram</a></li>
				</ul>
			  <!-- Copyright -->

			</footer>
			<!-- Footer -->
		</body>
	</html>
